
:root{
/*palette*/
--primary-solid:#ff3333;
--primary-900:rgba(255,51,51,0.9);
--primary-500:rgba(255,51,51,0.5);
--primary-300:rgba(255,51,0.3);

--secondary-solid:#1d84b5;
--secondary-900:rgb(29,132,181,0.9);
--secondary-500:rgb(29,132,181,0.5);
--secondary-300:rgb(29,132,181,0.3);

--dark-solid:#1f1f1f;
--dark-900:rgb(31,31,31,0.9);
--dark-500: rgb(31,31,31,0.5);
--dark-300: rgb(31,31,31,0.3);

--dark-bg-solid: #30343F;
--light-bg-solid:#fafaff;
--ligt-font-solid: #FFFFFF;

/*typography*/
--base-font: 'Inter', sans-serif;
--alternative-font: 'Raleway', san-serif;
/*font-sizez*/
--font-display:4.6em;
--font-jumbo:3.8em;
--font-xlarge:3em;
--font-large:2.4em;
--font-medium:1.8em;
--font-xsmall:1.4em;
/*spacing*/
--spacing-128:12.8rem;
--spacing-68:6.8rem;
--spacing-36:3.6rem;
--spacing-28:2.8rem;
--spacing-24:2.4rem;
--spacing-20:2rem;
--spacing-16:1.6rem;
--spacing-12:1.2rem;
--spacing-8:0.8rem;




}

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-bg-solid);
}
a{
    text-decoration: none;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
}



header,
footer{
    font-family: var(--alternative-font);
    color: var(--ligt-font-solid);
}

ul,ol{
    list-style-type: none;
}
p{
    font-size: 1rem;
}
img{
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navmenu {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item {
    display: flex;
   align-items: center;
   gap: var(--spacing-20);
   }
/*header*/



.nav_logo{
    max-width: 300px;
}


.link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
}

.link :hover{
    background-color: var(--primary-900);
}
.witch_icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size:var(--font-medium);
    transition: background .3s ease-in-out;
}

.witch_submenu:hover .submenu{
    display: block;
}

.submenu{

    display: none;
    width: 300px;
    position:absolute;
    background-color: var(--dark-bg-solid);
}
.submenu_item{
    
    display: none;
    padding: var(--spacing-8) var (var(--spacing-16));
     font-size: var(--font-medium);

}
.navbar_link:hover{
    background-color: var(--primary-900);

}
.item {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Estilos del contenido principal */
.modelo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.imagen {
    flex: 1;
}

.baby_yoda img {
    max-width: 100%;
}

.informacion {
    flex: 2;
    padding: 0 20px;
}

.articulo_titulo {
    color: #dc3545;
    font-size: 18px;
}

.articulo_titulo2 {
    font-size: 24px;
}

.articulo_detalle {
    font-size: 16px;
    margin-top: 10px;
}

.precio_producto {
    font-size: 24px;
    margin: 20px 0;
}

.poitivo, .negativo {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.carrito {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.pago {
    color: #007bff;
    margin-top: 10px;
    cursor: pointer;
}
.shilder{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);

}
.shilder_title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
.shilder_items{

    display: flex;
    gap: var(--spacing-24);
}
.card-item__cover{
    display: flex;
    position: relative;
}
.card-item_tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--ligt-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}
.card-item__cover img{
    animation: fade .7s;
}
.card-item__img--back{
    display: none;
}
.card-item__cover:hover .card-item__img--back{
    display: block;
}
.card-item__cover:hover .card-item__img--front{
    display: none;
}
.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-12);
}
.card_name{
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.producto_titulo{
    font-size: var(--font-medium);
    text-transform: uppercase;

    font-weight: 700;
}
/* Estilos de los productos relacionados */
.card_price {
    font-size: var(--font-xsmall);

    font-weight: 500;
}

.card_cuota {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    text-transform: uppercase;

    font-weight: 700;
}
@keyframes fade{
    0%{
        opacity: 0
        100% };

        
            opacity: 1;
        }
    }
}
.producto_imagenes {
    display: flex;
    gap: 20px;
    align-items: center;
}

.producto_relacionado img {
    max-width: 80px; /* Ajusta el tamaño máximo de las imágenes */
    max-height: 80px; /* Ajusta la altura máxima de las imágenes */
}

/* Estilos del artículo dentro del producto relacionado */
.producto_titulo {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.producto_precio {
    font-size: 16px;
    color: #dc3545;
    margin-top: 5px;
}



/* Estilos del footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer p {
    margin-top: 10px;
}

footer figure img {
    max-width: 80px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre elementos */
}

.form-group {
    display: flex;
    flex-direction: row; /* Alinear elementos horizontalmente */
    gap: 10px; /* Espacio entre elementos */
}

.input-group {
    display: flex;
    flex-direction: column; /* Apilar etiqueta y select verticalmente */
}





/* Estilos adicionales para los elementos del formulario según sea necesario */
