/* 
    todo lo que normalicemos deberia estar en un archivo aparte
    ya que seria común para todos los archivos
    asi como los estilos del header y footer
    - Nicolas
*/

html {
    /* variables css para ser reutilizadas con var(--nombre-de-variable), en css las variables se llaman "custom properties" */
    --color-fondo: rgb(48, 52, 63);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* Elementos dentro del header uno al lado del otro y con espacio en el medio y alineados */
    background-color: var(--color-fondo);
    padding: 1rem 2rem;
}

header .navbar {
    /* elementos de la barra de navegacion (los links a otras partes de la pagina */
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    /* como es una lista hay que quitar el item o bullet que trae por defecto */
}

/* links de navegacion */

header a,
footer a {
    color: white;
    font-family: 'Raleway';
    text-decoration: none;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    /* margen necesario para que este abajo aunque la pagina no llene la altura del viewport */
    background-color: var(--color-fondo);
    padding: 3rem 2rem;
}

footer .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    list-style-type: none;
}

footer img {
    width: 100px
}

footer .copyright {
    position: relative;
    top: 3rem;
    color: white;
}

/* main layout */

main {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

/* search filter */

main .sidebar {
    width: 20%;
}

.sidebar p {
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar input[type=number] {
    width: 5rem;
}

/* layout de los productos */

main .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    width: 60%;
}

.products-grid article {
    position: relative;
    transition: 
        scale 0.3s,
        box-shadow 0.3s;
    box-shadow: 0 0 0.5rem #0009;
    background-color: white;
    padding: 1rem;
    max-width: 250px;
    font-size: 1.3rem;
}

.products-grid article:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 1rem #0009;
}

/* productos individualmente */

.products-grid img {
    max-width: 100%;
    /* evitar que las imagenes sean mas grandes que el propio contenedor */
}

.products-grid .new-tag {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    background-color: crimson;
    color: white;
}

.products-grid article.new .new-tag {
    display: block;
    /* mostrar este cartel solo cuando el contenedor tiene una class determinada */
}

.products-grid .edition {
    font-size: 0.8em;
}

.products-grid .name {
    font-weight: bold;
}

.products-grid .precio {
    font-size: 0.8em;
}

.products-grid .otros {
    color: deepskyblue;
    font-size: 0.6em;
}